.button {
    color: white;
    display: inline-block;
    margin-right: 20px;
    text-decoration: none;
    transition: 250ms color;

    
}

.button:last-child {
    margin-right: 0;
}

.button:hover {
    color: gray;

}
