.header {
    background-color: white;
    text-align: right;
    padding: 30px 140px;
    position: relative;
    height: 84px;
    box-sizing: border-box;
}

.logo {
    font-family: 'roboto';
    font-weight: bold;
    font-size: 24px;
    float: left;
  

}

.toolbar{
    float: right;
   
}

.header:after {
    clear: both;
    display: block;
    content: ' ';
}

