.project {
  width:100%;
  height: 350px;
  background: white;
  border-radius: 2px;
 
  

  line-height: 20px;
  color: black;
  font-weight: bold;
  font-size: 14px;
  text-align: left;
}

.project:hover {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.project .projectImage {
  width: 100%;
  height: 175px;
  min-width: 280px;
  background-size: cover;
}

.project p {
    font-family: 'Roboto';
    color:grey;
    font-weight: normal;
    text-align: justify;
    padding: 0 24px;
}

.project h3 {
    text-align: justify;
    padding: 0 24px;
    margin-top: 0;
    padding-top: 24px;
}

.project a {
    text-decoration: none;
    text-align: left ;
    color: black;
    font-family: 'roboto';
    padding: 0 24px;
}

.project a:hover {
    color:#F2C335;
}
/* 
.project .projectImage:after {
  display: block;
  content: ' ';
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
} */