.project {
    padding-top: 100px;
    text-align: center;
    font-family: 'roboto';
}

.project .text {
    padding: 0 380px;
    color: grey;
    line-height: 24px;
}


.project .flex-container {
    padding: 0 120px;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
  }
  
  .flex-item {
    flex-grow: 0.24;
    height: 240px;

    background: white;
    padding: 5px;
    margin-top: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    
    line-height: 150px;
    color: white;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
  }